# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Kubeconfig
kubeconfig

# Ansible
infrastructure/ansible/oke-nodes-setup/inventory.ini

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
